
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Font Awesome
@import '~font-awesome/css/font-awesome.min.css';

// Bootstrap Datetime PIcker
@import '~tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.pagination {
  margin: 0;
  justify-content: center;
}

.shop-form,
.offer-form {
  .custom-control {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
  }
}

.bbm-num {
  display: inline-block;
  width: 70px;
  font-size: 20px;
  text-align: center;
  height: 50px;
  padding: 10px;
}
